<p>messages works!</p>

<form (ngSubmit)="onUserSave()" [formGroup] = "submitForm">
  <label for="username">Username</label>
  <input id="username" type="text" formControlName="userName"  />
  <br>
  <label for="message">Message</label>
  <input id="message"  type="text"  formControlName="message"  />
  <br>
  <label for="date">Date and Time</label>
  <input id="date"  type="date" formControlName="date"  />

  <button type="submit">Submit form</button>
</form>
<br>
<br>

<body>
<div class="container">
  <div class="chatbox">
    <div class="col-1">
      <div *ngFor="let item of service.messagesList; index as i" class="msg-row">
        <div class="msg-text">
          <h2>{{item.userName}}</h2>
          <p>{{item.message}}</p>
            <h3>{{item.dateTime}}</h3>
        </div>
        <img ngSrc="../images/image1.png" class="msg-img" height="348" width="348" alt="">
      </div>
    </div>
    <div class="col-2">
      <h3>Friends List</h3>i
      <ul>
        <li *ngFor="let item of service.messagesList; index as i" class="online">{{item.userName}}</li>

      </ul>
    </div>
  </div>
</div>

